<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details和summary标签</title>
</head>
<body>
    <details>
        <summary>简介。</summary>
        收录全新再版序、莫言漫像、莫言题词，了解本书创作背后的故事！◆ 特别梳 理人物关系图，清晰呈现主要人物关系！◆
            5幅原创插画，还原本书精华场景！【内容简介】不看不知道，欲哭又想笑。活着不容易，幽默无价宝。——莫言五十年间西门闹经历六次转世，一世为驴，二世为牛，三世为猪，四世为狗，五世为猴，最终降生为人。在这六世里，他目睹蓝脸一家三代经历人生的生死疲劳，他们爱就爱到底，恨就恨到底，犟就犟到底，干就干到底，有极致的痛苦，也有彻底的放纵。而他们的故事，要从1950年1月1日讲起……2012年诺贝尔文学奖授奖辞莫言是继拉伯雷、斯威夫特以及我...None◆
            不看不知道，莫言真幽默！在极度痛苦时笑出声来，获得内心深处的解脱。◆ 莫言：“诺奖的评委主要是因为读完了《生死疲劳》，才把这个奖项授给了我。”◆ 不管生活多苦闷，翻开本书都会笑出声来。◆
            收录全新再版序、莫言漫像、莫言题词，了解本书创作背后的故事！◆ 特别梳 理人物关系图，清晰呈现主要人物关系！◆
            5幅原创插画，还原本书精华场景！【内容简介】不看不知道，欲哭又想笑。活着不容易，幽默无价宝。——莫言五十年间西门闹经历六次转世，一世为驴，二世为牛，三世为猪，四世为狗，五世为猴，最终降生为人。在这六世里，他目睹蓝脸一家三代经历人生的生死疲劳，他们爱就爱到底，恨就恨到底，犟就犟到底，干就干到底，有极致的痛苦，也有彻底的放纵。而他们的故事，要从1950年1月1日讲起……2012年诺贝尔文学奖授奖辞莫言是继拉伯雷、斯威夫特以及我们这个时代的加西亚马尔克斯之后，同时代作家中文笔更妙趣横生和令人惊骇的一位。【媒体评论】◆在我做文学院院士的十六年里，没有谁的作品能像莫言的那样打动我。在目前仍然在世的作家中，莫言不仅是中国最优秀的作家，也是世界上最优秀的作家。——佩尔·韦斯特伯格（诺贝尔文学奖评委会主席）◆我读了莫言的作品以后，受到了很大的感染，他的文学表现手法、对生命的描述，使我获得了很多新鲜的东西。——大江健三郎（诺贝尔文学奖得主）◆《生死疲劳》具有说书人的声音，而这声音本身就是一种世界观———一种不同于西方传统的总体性路径：在中国古典小说中，一切如轮回转，分久必合合久必分。人不是与他的世界对抗或从他的世界出走。从根本上看，人是在承受、分担和体现世界的命运。人物带着他的整个世界行动和生死。——中国作协副主席
            李敬泽◆我真心喜欢莫言的所有小说，并对翻译它们乐在其中。我喜欢它们的原因各式各样。《生死疲劳》堪称才华横溢的长篇寓言。——葛浩文◆中国要是有卡夫卡，他就是莫言。——美国《出版者周刊》莫言中国首位获诺贝尔文学奖的作家。1955年出生，1980年代初开始文学创作。2012年获诺贝尔文学奖。著有《红高粱家族》《丰乳肥臀》《檀香刑》《生死疲劳》《蛙》等长篇小说和大量的中短篇小说、戏剧、散文等”。莫言的作品还获得意大利诺尼诺国际文学奖、日本福冈亚洲文化
            奖、韩国万海文学奖等16项全球文学大奖，被翻译成55种语言。莫言获得牛津大学荣誉院士、法国艺术与文学骑士勋章、
            阿尔及利亚国家荣誉勋章、美国现代语言协会荣誉会员等13项国际荣誉。《生死疲劳》是莫言最重要的代表作之一。他用动物的视角、俏皮的语言和鬼才的叙事手法，使这本讲述沉重故事的书中处处充满惊喜；用幽默、戏谑的方式化解现实的痛苦，让人在痛苦时依旧能笑出声来，给人以力量。莫言说：“假如我能有两本书得以流传，《生死疲劳》肯定是其中之一。”莫言又说：“诺贝尔奖的评委因为读完了《生死疲劳...None莫言中国首位获诺贝尔文学奖的作家。1955年出生，1980年代初开始文学创作。2012年获诺贝尔文学奖。著有《红高粱家族》《丰乳肥臀》《檀香刑》《生死疲劳》《蛙》等长篇小说和大量的中短篇小说、戏剧、散文等”。莫言的作品还获得意大利诺尼诺国际文学奖、日本福冈亚洲文化
            奖、韩国万海文学奖等16项全球文学大奖，被翻译成55种语言。莫言获得牛津大学荣誉院士、法国艺术与文学骑士勋章、
            阿尔及利亚国家荣誉勋章、美国现代语言协会荣誉会员等13项国际荣誉。《生死疲劳》是莫言最重要的代表作之一。他用动物的视角、俏皮的语言和鬼才的
    </details>
</body>
</html>
